@import '../variable.scss';

.book-container {
    width: 100%;
    height: 100%;
    .purchase-link {
        color: $primary;
    }
    .publish-on {
        margin-left: auto;
    }
    .relative-position {
        height: 85%;
        position: relative;
        margin-bottom: 1rem;
        .book-img {
            width: 100%;
            height: 100%;
        }
    }
    .cirlce {
        position: absolute;
        top: 0.5rem;
        right: 0.6rem;
        width: 2rem;
        height: 2rem;
        background: $white;
        border-radius: 50%;
    }
    fa-icon {
        position: absolute;
        color: $primary;
        top: 0.4rem;
        right: 0.6rem;
        font-size: 1rem;
        cursor: pointer;
    }
}
