<div class="add-book">
    <form class="flex" [formGroup]="addBookForm" (ngSubmit)="submit()">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Enter title" formControlName="title" />
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Enter image url" formControlName="imageUrl" />
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Enter purchase link" formControlName="purchaseLink" />
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Enter publish date" formControlName="PublishDate" />
        </div>
        <button class="btn-primary right-margin" type="submit">Submit</button>
        <button class="btn-close pointer-cursor" (click)="cancelToAddNewBookHandler()">Cancel</button>
    </form>
</div>